body{
      height: 100vh;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.image-section{
    /* 1vw = 1% of my browser's screen width. and same as 1vh  = 1% of my browser's screen height */
    margin: 10vw 25vh; 
    /* Here I defining height of image section 80vh it is nothing but 80% of the browser's screen height. it will avoid the scrolling issue without using overflow hidden.  */
    height: 80vh;
}

.imageSection img{
    object-fit: cover;
    border-radius: 0.5rem;
}
 
.image-section .btn{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
}
.image-section .btn:hover{
  background-color: darkgreen
}
